[submodule "vim-surround"]
  path = .vim/pack/utility/start/vim-surround
  url = https://github.com/tpope/vim-surround.git
  branch = master
  ignore = dirty
[submodule "vim-fugitive"]
  path = .vim/pack/app/start/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  branch = master
  ignore = dirty
[submodule "vim-eunuch"]
  path = .vim/pack/utility/start/vim-eunuch
  url = https://github.com/tpope/vim-eunuch.git
  branch = master
  ignore = dirty
[submodule "vim-unimpaired"]
  path = .vim/pack/utility/start/vim-unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
  branch = master
  ignore = dirty
[submodule "vim-speeddating"]
  path = .vim/pack/utility/start/vim-speeddating
  url = https://github.com/tpope/vim-speeddating.git
  branch = master
  ignore = dirty
[submodule "perlomni"]
  path = .vim/2btested/perlomni
  url = https://github.com/c9s/perlomni.vim.git
  branch = master
  ignore = dirty
[submodule "MatchTag"]
  path = .vim/pack/syntax/start/MatchTag
  url = https://github.com/gregsexton/MatchTag.git
  branch = master
  ignore = dirty
[submodule "syntastic"]
  path = .vim/pack/utility/start/syntastic
  url = https://github.com/scrooloose/syntastic.git
  branch = master
  ignore = dirty
[submodule "vim-perl"]
  path = .vim/2btested/vim-perl
  url = https://github.com/vim-perl/vim-perl.git
  branch = master
  ignore = dirty
[submodule "vim-repeat"]
  path = .vim/pack/utility/start/vim-repeat
  url = https://github.com/tpope/vim-repeat.git
  branch = master
  ignore = dirty
[submodule "vim-commentary"]
  path = .vim/pack/utility/start/vim-commentary
  url = https://github.com/tpope/vim-commentary.git
  branch = master
  ignore = dirty
[submodule "vimwiki"]
  path = .vim/pack/app/start/vimwiki
  url = https://github.com/vimwiki/vimwiki.git
  branch = master
  ignore = dirty
[submodule "vim-signify"]
  path = .vim/pack/utility/start/vim-signify
  url = https://github.com/mhinz/vim-signify.git
  branch = master
  ignore = dirty
[submodule "AnsiEsc"]
  path = .vim/pack/drchip/start/ansiesc
  url = https://github.com/vim-scripts/AnsiEsc.vim.git
  branch = master
  ignore = dirty
[submodule "supertab"]
  path = .vim/2btested/supertab
  url = https://github.com/ervandew/supertab.git
  branch = master
  ignore = dirty
[submodule "vim-lint"]
  path = .vim/pack/viml/start/vim-lint
  url = https://github.com/dbakker/vim-lint.git
  branch = master
  ignore = dirty
[submodule "calendar"]
  path = .vim/2btested/calendar
  url = https://github.com/itchyny/calendar.vim
  branch = master
  ignore = dirty
[submodule "jq"]
  path = .vim/pack/syntax/start/jq
  url = https://github.com/vito-c/jq.vim.git
  branch = master
  ignore = dirty
[submodule "vim-tmux"]
  path = .vim/2btested/tmux
  url = https://github.com/tmux-plugins/vim-tmux.git
  branch = master
  ignore = dirty
[submodule "vim-colorschemes"]
  path = .vim/pack/syntax/start/vim-colorschemes
  url = https://github.com/flazz/vim-colorschemes.git
  branch = master
  ignore = dirty
[submodule "vim-man"]
  path = .vim/pack/app/start/vim-man
  url = https://github.com/vim-utils/vim-man.git
  branch = master
  ignore = dirty
[submodule "helpful"]
  path = .vim/pack/utility/start/helpful
  url = https://github.com/tweekmonster/helpful.vim.git
  branch = master
  ignore = dirty
[submodule "vim-showmarks"]
  path = .vim/2btested/vim-showmarks
  url = https://github.com/jacquesbh/vim-showmarks.git
  branch = master
  ignore = dirty
[submodule "vim-db"]
  path = .vim/2btested/vim-db
  url = https://github.com/tpope/vim-db.git
  branch = master
  ignore = dirty
[submodule "ultisnips"]
  path = .vim/2btested/ultisnips
  url = https://github.com/SirVer/ultisnips.git
  branch = master
  ignore = dirty
[submodule "vim-snippets"]
  path = .vim/2btested/vim-snippets
  url = https://github.com/honza/vim-snippets.git
  branch = master
  ignore = dirty
[submodule "vim-markify"]
  path = .vim/2btested/vim-markify
  url = https://github.com/dhruvasagar/vim-markify
  branch = master
  ignore = dirty
[submodule "vim-ExtractMatches"]
  path = .vim/2btested/vim-ExtractMatches
  url = https://github.com/inkarkat/vim-ExtractMatches.git
  branch = master
  ignore = dirty
[submodule "ansible-vim"]
  path = .vim/pack/ansible/start/ansible-vim
  url = https://github.com/pearofducks/ansible-vim.git
  branch = master
  ignore = dirty
[submodule "vim-jsbeautify"]
  path = .vim/2btested/vim-jsbeautify
  url = https://github.com/maksimr/vim-jsbeautify.git
  branch = master
  ignore = dirty
[submodule "vim-healthcheck"]
  path = .vim/pack/app/start/vim-healthcheck
  url = https://github.com/rhysd/vim-healthcheck.git
  branch = master
  ignore = dirty
[submodule "vim-notes-cli"]
  path = .vim/2btested/notes-cli
  url = https://github.com/rhysd/vim-notes-cli.git
  branch = master
  ignore = dirty
[submodule "async"]
  path = .vim/2btested/async
  url = https://github.com/prabirshrestha/async.vim.git
  branch = master
  ignore = dirty
[submodule "apiblueprint"]
  path = .vim/2btested/apiblueprint
  url = https://github.com/kylef/apiblueprint.vim.git
  branch = master
  ignore = dirty
[submodule "vim-asterisk"]
  path = .vim/2btested/vim-asterisk
  url = https://github.com/haya14busa/vim-asterisk.git
  branch = master
  ignore = dirty
[submodule "vim-conflicted"]
  path = .vim/2btested/vim-conflicted
  url = https://github.com/christoomey/vim-conflicted.git
  branch = master
  ignore = dirty
[submodule "ctrlp"]
  path = .vim/2btested/ctrlp
  url = https://github.com/ctrlpvim/ctrlp.vim
  branch = master
  ignore = dirty
[submodule "ctrlp-funky"]
  path = .vim/2btested/ctrlp-funky
  url = https://github.com/tacahiroy/ctrlp-funky.git
  branch = master
  ignore = dirty
[submodule "delimitMate"]
  path = .vim/2btested/delimitMate
  url = https://github.com/Raimondi/delimitMate.git
  branch = master
  ignore = dirty
[submodule "vim-diff-enhanced"]
  path = .vim/2btested/vim-diff-enhanced
  url = https://github.com/chrisbra/vim-diff-enhanced.git
  branch = master
  ignore = dirty
[submodule "linediff"]
  path = .vim/pack/utility/start/linediff
  url = https://github.com/AndrewRadev/linediff.vim.git
  branch = master
  ignore = dirty
[submodule "tabular"]
  path = .vim/pack/utility/start/tabular
  url = https://github.com/godlygeek/tabular.git
  branch = master
  ignore = dirty
[submodule "traces"]
  path = .vim/pack/utility/start/traces
  url = https://github.com/markonm/traces.vim.git
  branch = master
  ignore = dirty
[submodule "astroid"]
  path = .vim/2btested/astroid
  url = https://github.com/PyCQA/astroid
  branch = main
  ignore = dirty
[submodule "jupyter-vim"]
  path = .vim/2btested/jupyter-vim
  url = https://github.com/jupyter-vim/jupyter-vim
  branch = master
  ignore = dirty
[submodule "vimspector"]
  path = .vim/2btested/vimspector
  url = https://github.com/puremourning/vimspector.git
  branch = master
  ignore = dirty
[submodule "nginx"]
  path = .vim/pack/syntax/start/nginx
  url = https://github.com/chr4/nginx.vim
  branch = master
  ignore = dirty
[submodule "awk"]
  path = .vim/pack/syntax/start/awk
  url = https://github.com/vim-scripts/awk.vim
  branch = master
  ignore = dirty
[submodule "vim-fake"]
  path = .vim/pack/app/start/vim-fake
  url = https://github.com/tkhren/vim-fake.git
  branch = master
  ignore = dirty
[submodule "vim-docker-tools"]
  path = .vim/2btested/vim-docker-tools
  url = https://github.com/kevinhui/vim-docker-tools
  branch = master
  ignore = dirty
[submodule "vim-yaml"]
  path = .vim/pack/syntax/start/vim-yaml
  url = https://github.com/stephpy/vim-yaml
  branch = master
  ignore = dirty
[submodule "vim-autotag"]
  path = .vim/2btested/vim-autotag
  url = https://github.com/craigemery/vim-autotag
  branch = master
  ignore = dirty
[submodule "editorconfig-vim"]
  path = .vim/pack/utility/start/editorconfig-vim
  url = https://github.com/editorconfig/editorconfig-vim.git
  branch = master
  ignore = dirty
[submodule "ale"]
  path = .vim/pack/async/start/ale
  url = https://github.com/dense-analysis/ale.git
  ignore = dirty
  branch = master
[submodule "asyncomplete-lsp"]
  path = .vim/2btested/asyncomplete-lsp
  url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
  ignore = dirty
  branch = master
[submodule "asyncomplete"]
  path = .vim/2btested/asyncomplete
  url = https://github.com/prabirshrestha/asyncomplete.vim.git
  ignore = dirty
  branch = master
[submodule "vimux"]
  path = .vim/2btested/vimux
  url = https://github.com/preservim/vimux.git
  ignore = dirty
  branch = master
[submodule "vim-markdown"]
	path = .vim/pack/markdown/start/vim-markdown
  url = https://github.com/preservim/vim-markdown.git
  ignore = dirty
  branch = master
[submodule "tagbar"]
  path = .vim/2btested/tagbar
  url = https://github.com/preservim/tagbar.git
  ignore = dirty
  branch = master
[submodule "vim-devicons"]
  path = .vim/pack/syntax/start/vim-devicons
  url = https://github.com/ryanoasis/vim-devicons.git
  ignore = dirty
  branch = master
[submodule "vim-LanguageTool"]
  path = .vim/2btested/vim-LanguageTool
  url = https://github.com/dpelle/vim-LanguageTool.git
  ignore = dirty
  branch = master
[submodule "vim-sleuth"]
  path = .vim/pack/utility/start/vim-sleuth
  url = https://github.com/tpope/vim-sleuth.git
  ignore = dirty
  branch = master
[submodule "vim-endwise"]
  path = .vim/pack/utility/start/vim-endwise
  url = https://github.com/tpope/vim-endwise.git
  ignore = dirty
  branch = master
[submodule "vim-jdaddy"]
  path = .vim/pack/utility/start/vim-jdaddy
  url = https://github.com/tpope/vim-jdaddy.git
  ignore = dirty
  branch = master
[submodule "vim-dadbod"]
  path = .vim/2btested/vim-dadbod
  url = https://github.com/tpope/vim-dadbod.git
  ignore = dirty
  branch = master
[submodule "vim-irssi-syntax"]
  path = .vim/pack/syntax/start/vim-irssi-syntax
  url = https://github.com/isundil/vim-irssi-syntax.git
  ignore = dirty
  branch = master
[submodule "FastFold"]
  path = .vim/2btested/FastFold
  url = https://github.com/Konfekt/FastFold.git
  ignore = dirty
  branch = master
[submodule "indentLine"]
  path = .vim/pack/utility/start/indentline
  url = https://github.com/Yggdroot/indentLine.git
  ignore = dirty
  branch = master
[submodule "vim-OnSyntaxChange"]
  path = .vim/2btested/vim-OnSyntaxChange
  url = https://github.com/inkarkat/vim-OnSyntaxChange.git
  ignore = dirty
  branch = master
[submodule "vim-ingo-library"]
  path = .vim/2btested/vim-ingo-library
  url = https://github.com/inkarkat/vim-ingo-library.git
  ignore = dirty
  branch = master
[submodule "vim-qlist"]
  path = .vim/2btested/vim-qlist
  url = https://github.com/romainl/vim-qlist.git
  ignore = dirty
  branch = master
[submodule "vim-characterize"]
  path = .vim/2btested/vim-characterize
  url = https://github.com/tpope/vim-characterize.git
  ignore = dirty
  branch = master
[submodule "vim-dirvish"]
  path = .vim/pack/utility/start/vim-dirvish
  url = https://github.com/justinmk/vim-dirvish.git
  ignore = dirty
  branch = master
[submodule "vim-gutentags"]
  path = .vim/2btested/vim-gutentags
  url = https://github.com/ludovicchabant/vim-gutentags.git
  ignore = dirty
  branch = master
[submodule "vim-lion"]
  path = .vim/2btested/vim-lion
  url = https://github.com/tommcdo/vim-lion.git
  ignore = dirty
  branch = master
[submodule "vim-qf"]
  path = .vim/2btested/vim-qf
  url = https://github.com/romainl/vim-qf.git
  ignore = dirty
  branch = master
[submodule "vim-sneak"]
  path = .vim/2btested/vim-sneak
  url = https://github.com/justinmk/vim-sneak.git
  ignore = dirty
  branch = master
[submodule "targets"]
  path = .vim/2btested/targets
  url = https://github.com/wellle/targets.vim.git
  ignore = dirty
  branch = master
[submodule "undotree"]
  path = .vim/2btested/undotree
  url = https://github.com/mbbill/undotree.git
  ignore = dirty
  branch = master
[submodule "VimCompletesMe"]
  path = .vim/2btested/VimCompletesMe
  url = https://github.com/ackyshake/VimCompletesMe.git
  ignore = dirty
  branch = master
[submodule "vim-gitgutter"]
  path = .vim/2btested/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
  ignore = dirty
  branch = master
[submodule "tmuxline"]
  path = .vim/2btested/tmuxline
  url = https://github.com/edkolev/tmuxline.vim.git
  ignore = dirty
  branch = master
[submodule "vim-easytags"]
  path = .vim/2btested/vim-easytags
  url = https://github.com/xolox/vim-easytags.git
  ignore = dirty
  branch = master
[submodule "vim-misc"]
  path = .vim/2btested/vim-misc
  url = https://github.com/xolox/vim-misc.git
  ignore = dirty
  branch = master
[submodule "vim-visual-multi"]
  path = .vim/2btested/vim-visual-multi
  url = https://github.com/mg979/vim-visual-multi
  ignore = dirty
  branch = master
[submodule "vim-table-mode"]
  path = .vim/pack/utility/start/vim-table-mode
  url = https://github.com/dhruvasagar/vim-table-mode
  ignore = dirty
  branch = master
[submodule "hledger-vim"]
  path = .vim/pack/hledger/start/hledger-vim
  url = https://github.com/anekos/hledger-vim.git
  ignore = dirty
  branch = master
[submodule "coc"]
  path = .vim/pack/async/start/coc
  url = https://github.com/neoclide/coc.nvim.git
  branch = release
  ignore = dirty
[submodule "jsonc"]
  path = .vim/pack/utility/start/jsonc
  url = https://github.com/neoclide/jsonc.vim.git
  ignore = dirty
  branch = master
[submodule "bats"]
  path = .vim/pack/shell/start/bats
  url = https://github.com/aliou/bats.vim
  ignore = dirty
  branch = master
[submodule "vim-packer"]
  path = .vim/pack/hashicorp/start/vim-packer
  url = https://github.com/hashivim/vim-packer.git
  ignore = dirty
  branch = master
[submodule "vim-vaultproject"]
  path = .vim/pack/hashicorp/start/vim-vaultproject
  url = https://github.com/hashivim/vim-vaultproject.git
  ignore = dirty
  branch = master
[submodule "vim-shellcheck"]
  path = .vim/pack/shell/start/vim-shellcheck
  url = https://github.com/itspriddle/vim-shellcheck.git
  ignore = dirty
  branch = master
[submodule "vim-shfmt"]
  path = .vim/pack/shell/start/vim-shfmt
  url = https://github.com/z0mbix/vim-shfmt.git
  ignore = dirty
  branch = master
[submodule "rainbow"]
  path = .vim/pack/utility/start/rainbow
  url = https://github.com/luochen1990/rainbow.git
  ignore = dirty
[submodule "fugitive-azure-devops"]
  path = .vim/pack/app/start/fugitive-azure-devops
  url = https://github.com/cedarbaum/fugitive-azure-devops.vim.git
  ignore = dirty
[submodule "rope"]
	path = .vim/2btested/rope
	url = https://github.com/python-rope/rope.git
	ignore = dirty
[submodule "ropevim"]
	path = .vim/2btested/ropevim
	url = https://github.com/python-rope/ropevim.git
	ignore = dirty
[submodule "pylama"]
	path = .vim/2btested/pylama
	url = https://github.com/klen/pylama.git
	ignore = dirty
[submodule "blue-mood-vim"]
	path = .vim/pack/syntax/start/blue-mood-vim
	url = https://github.com/lmintmate/blue-mood-vim.git
	ignore = dirty
[submodule "vim-frign"]
	path = .vim/pack/syntax/start/vim-frign
	url = https://github.com/KimNorgaard/vim-frign.git
	ignore = dirty
[submodule "vim-blueper"]
	path = .vim/pack/syntax/start/vim-blueper
	url = https://github.com/whonore/vim-blueper.git
	ignore = dirty
