[submodule "vim-polyglot"]
	path = .vim/pack/syntax/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	ignore = dirty
[submodule "vim-colorschemes"]
	path = .vim/pack/colorschemes/start/vim-colorschemes
	url = https://github.com/EvitanRelta/vim-colorschemes.git
	ignore = dirty
[submodule "coc"]
	path = .vim/pack/intellisense/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	ignore = dirty
	branch = release
[submodule "jsonc"]
	path = .vim/pack/plugins/start/jsonc
	url = https://github.com/neoclide/jsonc.vim.git
	ignore = dirty
[submodule "vimspector"]
	path = .vim/pack/testing/start/vimspector
	url = https://github.com/puremourning/vimspector
	ignore = dirty
[submodule "asynctasks"]
	path = .vim/pack/testing/start/asynctasks
	url = https://github.com/skywind3000/asynctasks.vim.git
	ignore = dirty
[submodule "ale"]
	path = .vim/pack/intellisense/start/ale
	url = https://github.com/dense-analysis/ale.git
	ignore = dirty
[submodule "copilot"]
	url = https://github.com/github/copilot.vim.git
	path = .vim/pack/intellisense/opt/copilot
[submodule "jq"]
	url = https://github.com/vito-c/jq.vim.git
	path = .vim/pack/syntax/start/jq
[submodule "vim-eunuch"]
	url = https://github.com/tpope/vim-eunuch.git
	path = .vim/pack/plugins/start/vim-eunuch
[submodule "vim-surround"]
	url = https://github.com/tpope/vim-surround.git
	path = .vim/pack/plugins/start/vim-surround
[submodule "vim-repeat"]
	url = https://github.com/tpope/vim-repeat.git
	path = .vim/pack/plugins/start/vim-repeat
[submodule "vim-toml"]
	url = https://github.com/cespare/vim-toml.git
	path = .vim/pack/testing/start/vim-toml
