# .vim Files

This repo holds my vim dotfiles and plugins.

To install, link **$HOME/.vim** and **$HOME/.vimrc** to this repository's
files of the same name.

I am currently migrating plugins from the pathogen **bundle** directory to
vim's builtin **pack** method.
%unexpected%

## Plugins

Plugins that have earned permanent status. These are stored in
**.vim/pack/<category>/<plugin>/start**.

Any settings for plugins (with some very rare exceptions) will be in the
**.vim/pack/active/mystuff/start** plugin directory, wherever it's supposed to fit.

#### mystuff

My configuration for various of the plugins that need it.

XXX: Add notes/reminders about the directory structure and what should go
     where.

#### statusline

My status line setup.

XXX: Add notes about what is being done here (or maybe do that in the plugin?)

#### How do I ...

* toggle between no line numbers, relative line numbers and plain line numbers?

### Categories
%categories%

#### General (Active)
%active%

#### Applications
%app%

#### DrChip's Stuff
%drchip%

##### Evaluate

* [WhereFrom](https://www.drchip.org/astronaut/vim/index.html#WHEREFROM)

#### Linter
%linter%

#### Syntax
%syntax%

### Being Tested
%test%

### To Be Moved
%tobemoved%

### To Be Tested
%tobetested%

### Rejected

* [docker-compose](https://github.com/skanehira/docker-compose.vim)
* [evervim](https://github.com/kakkyz81/evervim.git)
* [gitolite](https://github.com/tmatilai/gitolite.vim.git)
* [gitv](https://github.com/gregsexton/gitv)
* [vim-github](https://github.com/thinca/vim-github.git)
* [vim-indent-guides](https://github.com/nathanaelkane/vim-indent-guides.git)
* [vim-rsi](https://github.com/tpope/vim-rsi.git)
* [DrawIt](https://github.com/vim-scripts/DrawIt.git)

## Resources and Miscellaneous

* [vim-clangd](http://aliquote.org/post/vim-clangd/)
* [clangd.llvm.org](https://clangd.llvm.org/)
* [nerd fonts](https://github.com/ryanoasis/nerd-fonts)
* [langserver.org](https://langserver.org/)
* [overview](https://microsoft.github.io/language-server-protocol/overviews/lsp/overview/)
* [spell-and-grammar-checking-on-vim](https://ncona.com/2018/12/spell-and-grammar-checking-on-vim/)
* [setting up lsp in vim](https://ncona.com/2021/12/setting-up-lsp-in-vim)
* [which_lsp_plugin_should_i_use](https://www.reddit.com/r/vim/comments/7lnhrt/which_lsp_plugin_should_i_use/)
* [a_guide_to_lsp_auto_completion_in_vim](https://www.reddit.com/r/vim/comments/b33lc1/a_guide_to_lsp_auto_completion_in_vim/)
